* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background: #181818;
  color: #fff;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content-home {
  position: fixed;
  bottom: 50px;
  color: #fff;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
}

.content-main {
  position: fixed;
  top: 15%;
  color: #fff;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
}

.btn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #0270D7;
  color: #fff;
  cursor: pointer;
  transition: 0.6s ease;
}

.btn-sm {
  margin-top: 5px;
  width: 405px;
  font-size: 18px;
  padding: 5px;
  border: none;
  background: #0270D7;
  color: #fff;
  cursor: pointer;
  transition: 0.6s ease;
}

.btn:hover, .btn-sm:hover {
  background: #1065b5;
}

.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  transition: 0.6s ease;
}

.logo:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.left {
  text-align: left;
  text-align: right;
}
